
#blog-posts {
    display: flex;
}

.p-card {
    width: 430px;
    margin: 50px 20px 0px;
    border-top: 5px solid #a87ca0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-size: 1.5rem;
    line-height: 1.9rem;
}

.header-and-footer {
    font-size: 1.2rem;
    line-height: 1.2rem;
}